<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>###title###</title>
<style type="text/css">
	@import url(/css/main.css);
	:::render_css:::
	
</style>
</head>
<body>
	<div id="container">
		<table id="main">
			<tr>
				<td colspan="2" id="main_head">###mainhead###</td>
			</tr>
			<tr>
				<td id="menu">###menu###</td>
				<td id="content">###content###</td>
			</tr>
			<tr>
				<td colspan="2" id="footer">###footer###</td>
			</tr>
		</table>
	</div>
</body>
</html>