<?php
$conf['database']['dsn']            = 'mysql:host=localhost;dbname=d0019e_blogg;';
$conf['database']['username']       = 'root';
$conf['database']['password']       = 'Str0ng&freE';
$conf['database']['driver_options'] = array();

$conf['basepath'] = '/var/subdoms/hephaestus/';
$conf['upload'] = 'upload/';
$conf['session_timeout'] = "86400";