<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>###admin_title###</title>
<style type="text/css">
	@import url(/css/admin/main.css);
	:::render_css:::
</style>
<script src="/js/jquery.js">1;</script>
<script src="/js/shortcut.js">1;</script>
</head>
<body>
	<div id="container">
		<table id="main">
			<tr>
				<td colspan="2" id="main_head">###admin_mainhead###</td>
			</tr>
			<tr>
				<td id="menu">###admin_menu###</td>
				<td id="content">
				###messages###
				###admin_content###</td>
			</tr>
			<tr>
				<td colspan="2" id="footer">###footer###</td>
			</tr>
		</table>
	</div>
</body>
</html>